<!DOCTYPE html>
<html>
<head>
  <title>SixteenTons</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body ng-app='sicsteentons'>

  <%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/<%= ui_bootstrap_version %>/ui-bootstrap-tpls.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.8.3/angular-moment.js'></script>

</html>
